body{
    background-color: cornsilk;
}

.nav-li{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    list-style-type: none;
    font-size: 1.3em;
    
}

.li-navlink{
 text-decoration: none;
}


.modal_place_window{
    width: 83vw;
    top: 10%;
    left: 4%;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 31px 15px;
}

.post-area {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.action-place{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: baseline;
}


.post-place{
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80vh;
    overflow-y: auto;
}

.post-thumbnails{
    box-shadow:5px 2px 2px grey;
    background-color: antiquewhite;
    margin: 10px;
    border-style: groove;
    min-width: 80vw;
    max-width: 80vw;
    min-height: 40vh;
    max-height: 40vh;
    display:flex; 
    flex-direction:column;
    align-items:center;
}

.post-information-place{
    width:100%; 
    min-height: 10%;
    display:flex; 
    align-items: center;
    justify-content:center;
}

.button-top-place{
    display: flex;
    justify-content: right;
    margin-right: 10px;
    margin-top: 3px;
    width:100%; 
    min-height: 10%;
}

.post-date{
    margin: 0;
    margin-left:10px
}

.post-author{
    margin: 0;
    margin-left:10px
}

.post-title-place{
    width: 100%;
    min-height: 10%;
    display: flex;
    justify-content: space-around;
}
.post-title{
    margin: 0;
    font-size: 1.3em;
}

.image-thumbnaills-place{
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-height: 40%;
    max-height: 40%;
}

.image-thumbnaills{
    max-width: 100%;
}

.post-comments-place{
    width: 100%;
    min-height: 10%;
    display: flex;
    justify-content: space-around;
}

.count-comments{
    margin: 0;
}

.like-dislike-place{
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-height: 10%;
    display:flex;
    align-items:center;
    
}

.likes-place{
    text-align: center;
    width: 50%;
    margin-left:10px;  
}

.dislikes-place{
    text-align: center;
    width: 50%;
    margin-right: 10px;
}

.img-like-dislike:hover{
    cursor: pointer;
}


.button-place{
    width: 100%;
    min-height: 10%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.button-place-like{
    width: 50%;
    min-height: 10%;
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

.button-place-coments{
    width: 50%;
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}

.button-open-coments{
    margin-right: 10px;
}
.button-add-coments{
    margin-right: 10px;
}
.button-like{
    margin-left: 10px;
}


.button-dislike{
    margin-left: 10px;
}


.preload-image{
    width: 20vw;
}

/* pagination */
.list-of-pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-of-pages{
    font-size: 0.9em;
    padding-left: 1vw;
    padding-right: 1vw;
    list-style-type: none;
}

.anchor-of-pages{
    text-decoration: none;
}

.item-of-pages:hover{
    background-color: antiquewhite;
    transition: 1s;
    cursor: pointer;
}
/* end pagination */

/* comments */

  .comment-place{
    display: flex;
    flex-direction: column;
  }

  .title-comment{
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  .title-information{
    margin-right: 5px;
  }

  .text-comment-place{
    overflow: hidden;
    width: 80%;
  }


  .text-comments{
    word-wrap: break-word;
    width:95%
  }



  .rating-section{
    width: 50%;
    display: flex;
    justify-content: left;
  }
  
  .control-section{
    margin-top: 5px;
    width: 50%;
    display: flex;
    justify-content: left;
  }

  .button-control{
    margin-right: 10px;
  }

  @media(min-width: 650px) {
    .post-thumbnails{
        border-style: groove ;
        min-width: 30vw;
        max-width: 30vw;
        min-height: 60vh;
        max-height: 60vh;
       
    }
  }

  @media(min-width: 1000px) {
    .post-thumbnails{
 
        min-width: 25vw;
        max-width: 25vw;
        min-height: 40vh;
        max-height: 40vh;
        
    }

    .modal_place_window{
        width: 40vw;
        top: 10%;
        left: 30%;
    }
  }
